.hidden{
  display: none;
}

body{
  width: 1280px;
  font-family: "interstate", sans-serif;
  margin: 0 auto;
}

.wrapper{
  align-items: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  width:1280px;

}

.mainNav{
  height: 225px;
  background-color: #a6be4f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainNav ul{
  margin-top: 40px;
  margin-right: 65px;
  list-style-type: none;

  height: 35px;

}

.mainNav li {
  background-color: white;
  padding:5px;
  border-radius: 15px;
  font-size: 25px;
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bolder;
}

.mainNav li:hover{
  background-color: #82953f;
}

.mainNav a {
  text-decoration: none;
  color:black;

}

.logo{
  margin-left: 50px;
  width:200px;
  height: 200px;
}

.welcomeText{

  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
  width:525px;
  height: 40px;
}

.welcomeText p {
  margin-left: 65px;
  font-weight: bold;
}

.businessBox {
  margin-bottom: 48px;
  align-self: center;
  width: 1100px;
  height:200px;
  background-color: rgba(255, 255, 255, 0.43);
  margin-top:92px;
}

.businessBox h1 {
  font-weight: 500;
  margin-top: 35px;
  margin-bottom: 17px;
  font-size: 40px;
  margin-left: 40px;
}

.businessBox h2 {
  margin-left: 60px;
  margin-top: 40px;

  width: 900px;
  
  font-size: 35px;
  font-family: "interstate", sans-serif;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.photoTitle{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom:15px;
  background-color: black;
  height:60px;
  width:275px;
}

.photoTitle p{
  font-size: 60px;
}


 #titleText{
  width:455px;
   height:80px;
   background-color: #999999;
   margin: 30px 0 30px 0;
 }



.welcomePhoto{
  width:  400px;
  height: 350px;
  background-color: #666666;
}

.introText{
  display: flex;
  flex-direction:column;
  margin-left: 25px;
  background-color: white;
  width: 700px;
  height: 450px;
}



#imgBG{
  margin-bottom: 65px;
  align-self: center;
  width: 1100px;
  height: 640px;
  background-image: url(../images/free-stock-photos/fishermen.jpg);
  background-repeat: no-repeat;
}

#about{
  align-self: center;
  width: 1000px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutTitle {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

.aboutSub{
  text-align: center;
  font-size: 25px;

}

#iconsUp{
  margin-top: 45px;
  margin-bottom: 150px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;

}

#iconsDown{
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1150px;
  margin-bottom: 26px;
}

#iconsDown h3{
  text-align: center;
  width: 300px;
  font-size: 20px;
}

.icon{

  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

.icon img{
  height: 100px;
  margin-bottom: 30px;
}

#iconsUp h3{
  text-align: center;
  width: 165px;
  font-size: 20px;
}

#button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-top: 50px;
  margin-left: 800px;
  
  width: 305px;
  height:53px;
  background-color: #b9eb44;
  
  align-self: flex-end;
  text-align: center;
  transition: all 0.5s;
}

#button h2 {
  font-size: 25px;
  font-weight: bold;
}

#button:hover {
  cursor: pointer;
  background-color: #ffffff;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;
  font-style: normal; 
}

#newsSection {
  align-self: center;
  margin-top: 70px;
  margin-bottom: 100px;
  width:1100px;
}

#newsSection h2 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;

  margin-top: 50px;
  margin-bottom: 30px;

}

.eventWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.event{
  width:400px;
}

.event img{
  width:400px;
  margin-bottom:30px;
}

.event h3{
  font-size: 30px;
  width: 400px;
  margin-bottom: 30px;
  font-weight: 500;
}

.event p{
  width:400px;
  font-size: 20px;
}

.supportingBus h1{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.supportingBus h2{
  text-align: center;
  margin-bottom: 55px;
  font-size: 30px;
  font-weight: 400;
}

.box{
  background-color: #d6dfab;
  margin-left : 35px;
  margin-bottom: 95px;
  margin-right: 35px;
  width: 275px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img{
  margin-top: 20px;
}

.box p{
  font-size: 18px;
  width: 215px;

}

.companyBoxUp{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.companyBoxDown{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#melch {
  height: 79px;
  margin-bottom: 30px;
}

#guil {
  height: 50px;
  margin-bottom: 30px;
}

#tryR{ 
  height: 80px;
  margin-bottom: 30px;
}

#muma {
  height: 51px;
  margin-bottom: 32px;
}

#angS{
  height: 120px;
  margin-bottom: 10px;
}

#credits{
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditBox{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 70px;
  padding-left: 40px;
  width:930px;
  height:320px;
  border-width:  10px;
  border-style: solid;
  border-color: #637333;
}

.creditsTitle{
  font-size: 30px;
  font-weight: bolder;
}

#personN1{
  margin-right: 130px;
}

#personN3{
  margin-right:60px;
}

#personN4{
  margin-right: 130px;
}

.firstRow{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

.secondRow{
  width:860px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.position{
  font-size: 30px;
  font-weight: normal;
}

.person{
  font-size: 30px;
  font-weight: bold;
}

#volunteer1{
  margin-right: 100px;
}

#volunteer2{
  margin-right: 100px;
}

.creditsTitle2 h1{
  width: 330px;
  font-size: 30px;
  font-weight: bolder;
}

#volunteer4{
  margin-right: 150px;
}

.mainFooter{
  width: 1280px;
  height: 180px;
  background-color: #a6be4f;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainFooter ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 50px;
  height: 50px;
  background-color: white;
  list-style-type: none;
}

.footerWrapper{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainFooter ul li{
  padding: 10px;
  margin-right: 15px;

  font-size:25px;
  font-weight: bolder;
  display: inline;
}
.mainFooter ul li:hover{
  background-color: #82953f;
  cursor: pointer;
}

#contactMenu{
  margin-right: 0;

}

.footerLogo { margin-right: 25px; }

.addressBox{
  font-weight: 500;
  font-size: 20px;
  margin-top:5px;
  height:70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 710px;
  background-color: white;
}

.addressBox p {
  font-size: 20px;
  font-family: interstate-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#addressWrap{

  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  height: 70px;

}

#faceIcon{
margin-right:85px;
  width:80px;
  height:80px;

}

#faceIcon:hover{
  cursor:pointer;

}
/*--End of the homepage, from this point on things will be separated by page

Beggining of the projects pag*/

#projects{
  width: 1280px;
  margin:0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.projectTitle{
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

#imageHolder{
  margin-bottom: 110px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width:1280px;
  height:780px;
  background-image: url(../images/free-stock-photos/bgPic-project.jpg);
  background-repeat:no-repeat;
}

#photoText{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(87, 110, 115, .66);
  width:750px;
  height:250px;

}

#projectPicTitle{
  font-family: 'EB Garamond', sans-serif;
  font-size:36px;
  font-style: italic;
  font-weight: bold;
  color: white;

  margin-top: 20px;
  margin-bottom: 30px;
}

#textPhoto{
  text-align: left;
  width:700px;
  font-size: 22px;
  color:white;
}
.projectTitle2{
  font-size: 40px;
  font-weight: bold;
}
.subtitleProject{
  font-size: 25px;
  margin-bottom: 100px;
}

.video{
  box-shadow: inset 0 0 1em black, 0 0 1em black;
}

#fundraising{
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 35px;
  font-weight: bold;
  margin-top:100px;
  width: 1280px;
}

.monitoring{
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
}

#fundraising {
  position: relative;
}

#fundraising img {
  margin-top: 100px;
}


.fund-button {
  position: absolute;
  margin-top: 45px;
  width: 1050px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#fund {
  font-family: interstate, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;

  background-color: #aef800;
  border: none;
  transition: all 0.8s;

  margin-top: 85px;
}

#fund:hover {
  background-color: #ffffff;
  border-radius: 20px;

}

#first-text {
  margin-top: 40px;
  margin-bottom: 60px;

  font-size: 50px;
}

.projectContent {
  display: flex;
  flex-direction: row;
  width: 1280px;
  justify-content: space-around;

  font-size: 20px;
}

#project-part {
  margin: 70px 0 30px 0;
}

#project-part h1 {
  font-size:  30px;
  font-weight: 600;

  margin-bottom: 10px;
}

#project-part p {
  font-size: 18px;
  margin: 20px 0 20px 0;
}

#project-part button {
  font-size: 35px;
  background-color: #a6be4f;
  transition: all 0.5s;
  border: none;

  margin-top: 30px;
}

#project-part button:hover {
  background-color: #fff;
}

#second-text {
  margin-top: 40px;
  margin-bottom: 60px;

  font-size: 50px;
}



.archives {
  display: flex;
  flex-direction: row;
  width: 1280px;
  justify-content: space-between;
  
  margin-top: 100px;
  margin-bottom: 300px;
  font-size: 20px;

}

.archives h2 {
  font-size: 30px;
  font-weight: 600;

  margin-bottom: 10px;
}


.archives button {
  font-size: 35px;

  background-color: #a6be4f;
  margin: 30px;
  border: none;
}

.archives button:hover {
  background-color: #fff;
}


.monitoring h1{
  margin-bottom: 80px;
}

.imgBox{
  width:1280px;
  height: 310px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*Newsletter Section now*/

.newsletters{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.newsTitle{
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.newsSub{
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
}

.newstext-1 {
  font-family: interstate, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  line-height: 35px;

  text-align: center;
}

.newstext-2 {
  width: 1200px;
  height: 600px;
  background: #f3e5ba;

  padding-top: 100px;
}

#uppertext {
  width: 1000px;
  height: 300px;
  margin-left: 100px;
}

#belowtext {

  width: 1000px;
  height: 300px;
  margin-left: 100px;
}

.archive {

  width: 1250px;
  margin: 100px 0 100px 10px;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#archiveTitle{
  font-size: 45px;
  font-weight: bolder;
}

#archiveSub{
  margin-top: 5px;
  margin-bottom: 20px;
  color:grey;

  line-height: 20px;
  padding-top: 10px;

  width:500px;
}

.archItems{
  font-size: 35px;
  font-weight: bold;
  width:1250px;
  height:500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url(../images/archive-background.png);
  background-repeat: no-repeat;

}

.year{
  margin-left:50px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#y2011{
  margin-top: 25px;
}
#y2011 h1{
  margin-bottom: 10px;
}

#y2010{
  margin-top: 95px;
}
#y2010 h1{
  margin-bottom: 10px;
}

#y2009{
  margin-top: 20px;
}
#y2009 h1{
  margin-bottom: 10px;
}

#y2008{
  margin-top: 110px;
}
#y2008 h1{
  margin-bottom: 10px;
}

#y2007{
  margin-left:0;
  margin-top: 110px;
}
#y2007 h1{

  margin-bottom: 10px;
}
