.hidden{
  display: none;
}

body{
  width: 1280px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  flex-direction:column;
  justify-content:center;
  width:1280px;

}

.mainNav{
  height: 225px;
  background-color: #a6be4f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mainNav ul{
  margin-top: 40px;
  margin-right: 65px;
  list-style-type: none;
  background-color: white;
  height: 35px;

}

.mainNav li {
  font-size: 25px;
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
}

.logo{
  margin-left: 50px;
  width:200px;
  height: 200px;

}

.welcomeText{
 
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 15px;
  width:525px;
  height: 40px;
}

.welcomeText p{
  margin-left: 100px;
  font-weight: bold;
}

.businessBox{
  margin-bottom: 48px;
  align-self:center;
  width: 1100px;
  height:200px;
  background-color: #d7b65d;
}

.businessBox h1{
  font-weight: 400;
  margin-top: 36px;
  margin-bottom: 17px;
  font-size: 35px;
  margin-left: 40px;

}

.businessBox h2{

  margin-left:40px;
  width:900px;
  font-size: 30px;
}

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.photoTitle{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom:15px;
  background-color: black;
  height:60px;
  width:275px;
}

.photoTitle p{
  font-size: 60px;
}

.aboutBox{
  display: flex;
  flex-direction:row;
  align-self:center;
  margin-bottom: 30px;
  width:1150px;
  height:450px;
  background-color: #999999;
}
 #titleText{

   width:455px;
   height:80px;
   background-color: #999999;
   margin: 30px 0 30px 0;
 }



.welcomePhoto{
 
  width:  400px;
  height: 350px;
  background-color: #666666;
}

.introText{
  display: flex;
  flex-direction:column;
  margin-left: 25px;
  background-color: white;
  width: 700px;
  height: 450px;
}

.aboutSect{
  justify-content: center !important;

}
